.card {
  position: relative;
  height: 250px;
  background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url("http://unsplash.it/400/300/?random");
  background-size: cover;
  color: white;
}

.card-user {
  position: absolute;
  top: 5px;
  right: 5px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 700px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.bold-description {
  background: #ecd018;
  display: inline-block;
  color: black;
  font-weight: bolder;
  padding: 2px 10px;
}

.bold-category {
  background: white;
  display: inline-block;
  color: black;
  font-weight: bolder;
  padding: 2px 10px;
}

